  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Description</th>
          <th>Tags</th>
          <th>Runs</th>
          <th>Last Run Started</th>
        </tr>
      </thead>
      <tbody>
{% for (job, runs) in jobs %}
        <tr {% if job.active %}class="success"{% else %}{% endif %} >
          <td><a href="/job/{{job.name}}/" >{{job.name}}</a></td>
          <td>{{job.description}}</td>
          <td>
              {% if job.tags %}
              {% for tag in job.tags %}
                  <span class="label label-info"><a href="/tag/{{tag}}/">{{tag}}</a></span>
              {% endfor %}
              {% endif %}
          </td>
          <td class='runs'>
              {% for run in runs %}
                  {% if run.failed %}
              <span><a class='failed' href="/run/{{run.id}}/">✘</a></span>
                  {% else %}
              <span><a class='success' href="/run/{{run.id}}/">✓</a></span>
                  {% endif %}
              {% endfor %}
          </td>
          <td>
          {% if runs|length > 0 %}
            {{runs[0]["start_time"].strftime('%Y-%m-%d %-H:%M ')}} UTC
          {% else %}
            N/A
          {% endif %}
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
