  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Run ID</th>
          <th>Failed</th>
        </tr>
      </thead>
      <tbody>
{% for run in runs %}
        <tr>
            <td><a href="/run/{{run.id}}/" >{{run.id}}</a></td>
          <td>
              {% if not run.failed %}
                  <span class="label label-success">Totally Great!</span>
              {% else %}
                  <span class="label label-danger">:(</span>
              {% endif %}
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
