aiopg
aiohttp
aiodocker
sqlalchemy
jinja2
pyyaml
websockets
# humanize
-e git+https://github.com/jmoiron/humanize#egg=humanize

# Needed to build the scripts.
# node-uglify
# node-less
# coffeescript
