aiopg
# aiohttp>=0.9
# Until https://github.com/KeepSafe/aiohttp/issues/131 is fixed
-e git+https://github.com/paultag/aiohttp@bugfix/asyncio#egg=aiohttp
sqlalchemy
jinja2
pyyaml
websockets
# humanize
-e git+https://github.com/jmoiron/humanize#egg=humanize

# Needed to build the scripts.
# node-uglify
# node-less
# coffeescript
