aiocore
aiopg
-e git+https://github.com/KeepSafe/aiohttp#egg=aiohttp
-e git+https://github.com/paultag/aiodocker#egg=aiodocker
sqlalchemy
jinja2
pyyaml
websockets
alembic
python-dateutil
-e git+https://github.com/jmoiron/humanize#egg=humanize

# Needed to build the scripts.
# node-uglify
# node-less
# coffeescript
