{% extends "interface.html" %}

{% block head %}
    <script src="/static/js/container.min.js"></script>
{% endblock %}

{% block content %}

<h2>Container {{job.name}}</h2>

<a href="/job/{{job.name}}/">{{job.name}}</a>

<br />
<br />
<br />

{% set config = info.Config %}
{% set host_config = info.HostConfig %}
{% set state = info.State %}

<div class="table-responsive">
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Image</td>
      <td><code>{{config.Image}}</code></td>
    </tr>
    <tr>
      <td>Command</td>
      <td><code>{{" ".join(config.Cmd)}}</code></td>
    </tr>
    <tr>
      <td>Running</td>
      <td>
        {% if state.Running %}
        <span class="label label-success">Online</span>
        {% else %}
        <span class="label label-danger">Offline</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Privileged</td>
      <td>
        {% if host_config.Privileged %}
        <span class="label label-danger">Privileged</span>
        {% else %}
        <span class="label label-success">Unprivileged</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Network</td>
      <td>
          {% if config.NetworkDisabled %}
          <span class="label label-danger">Disabled</span>
          {% else %}
          <span class="label label-success">Enabled</span>
          {% endif %}
      </td>
    </tr>
    <tr>
      <td>Created At</td>
      <td>{{info.Created}}</td>
    </tr>
    <tr>
      <td>Started At</td>
      <td>
          {{state.StartedAt}}
      </td>
    </tr>
    <tr>
      <td>Finished At</td>
      <td>
        {% if state.Running %}
          <i>Still Running</i>
        {% else %}
          {{state.FinishedAt}}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Exit Code</td>
      <td>
        {% if state.Running %}
          <i>Still Running</i>
        {% else %}
          {{state.ExitCode}}
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
