{% extends "interface.html" %}

{% block content %}
    <h2>{{job.job_description}} <small>(<a href="/container/{{job.job_name}}/">{{job.job_name}}</a>)</small></h2>
    This job is maintained by
    <a href="/maintainer/{{job.maintainer_id}}/">{{job.maintainer_name}}</a>.

    <p>
    {% if job.job_manual %}
    This is a manual job. Please schedule this to run via SSH.
    {% else %}
    This job runs once {{interval}}. The job's next schedued for
    {{next_run}}.
    {% endif %}
    </p>

{% include "fragments/runs.html" %}

{% endblock %}
