{% extends "interface.html" %}

{% block title %}Run detail for run {{run.id}}{% endblock %}

{% block content %}
<h2>Run {{run.id}}</h2>

This build was a massive
{% if run.failed %}
    <span class="label label-danger">failure</span>
{% else %}
    <span class="label label-success">success</span>
{% endif %}.
<br />
<br />
Build start time: {{run.start_time.strftime('%Y-%m-%d %-H:%M ')}} UTC
<br />
Build end time: {{run.end_time.strftime('%Y-%m-%d %-H:%M ')}} UTC

<br />
<br />
<pre>
{{run.log}}
</pre>

{% endblock %}
